body{
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

button{
	background-color: rgb(255,182,193); /* pink */
    border: red;
    color: rgb(0,0,0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}


#pageHeader{
	background-color: #deaeea;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 22px;
	text-align: center;
	height: 60px;
	word-spacing: 25px;
	padding-left: 25px;
	padding-top: 20px;
}
#header:link, #header:visited {
    color: white;
/*    padding: 14px 25px;
    text-align: center; */
    text-decoration: none;
/*    display: inline-block;*/
}
#header:hover {
	color: lavender;
}
#header:active {
    color: purple;
}
div.bod{
	background-color: #bfccff;
	padding: 50px 50px;
	margin: 100px;

}

h5{
	font-size: 14px;
}
button{
	background-color: rgb(255,182,193); /* pink */
    border: red;
    color: rgb(0,0,0);
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

div.button1{
	background-color: rgb(255,182,193); /* pink */
    border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 33px;
	color: rgb(0,0,0);
	text-align: center;
	position:relative;
 	top:-125px;
 	left:25px;
	}
div.button2{
	background-color: #deaeea;
    border: red;
	padding: 50px 50px;
	margin: 20px 450px 20px 450px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 33px;
	text-align: center;
	color: rgb(0,0,0);
	position:relative;
 	top:-100px;
 	left:300px;
	}
div.button3{
	background-color: #bfccff;
	border: red;
	padding: 50px 50px;
	margin: 20px 450px 20px 450px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 33px;
	text-align: center;
	color: rgb(0,0,0);
	position:relative;
	top:-361px;
	left:-300px;
	}
div.carousel{
	position: relative; 
	top: -125px;
}
#quack{
	background-color: rgb(255,182,193); /* pink */
    border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-align: center;
	color: rgb(0,0,0);
	position: relative; 
	top: -125px;
}

#ic2{
	background-color: rgb(255,182,193); /* pink */
    border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-align: left;
	color: rgb(0,0,0);
	position: relative; 
	top: -125px;
	}
#alice{
	background-color: #deaeea;
    border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-align: left;
	color: rgb(0,0,0);
	position: relative; 
	top: -125px;
	}
#susie{
	background-color: #deaeea;
    border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-align: right;
	color: rgb(0,0,0);
	position: relative; 
	top: -125px;
	}
#lee{
	background-color: #bfccff;
	border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-align: right;
	color: rgb(0,0,0);
	position: relative; 
	top: -125px;
	}
#sabrina{
	background-color: #bfccff;
	border: red;
	padding: 50px 50px;
	margin: 20px 290px 20px 290px;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	text-align: right;
	color: rgb(0,0,0);
	position: relative; 
	top: -125px;
	}

#about{
	padding:5px;
	margin: 30px 300px 20px 300px;
	position: relative; 
	top: -140px;
	background-color: rgb(255,182,193);

	
}
body {
	background-image: url("splat.png");
	background-repeat: no-repeat;
	background-attachment:fixed ;
}

#susie:hover{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#lee:hover{
	font-family: "Lucida Bright", Georgia, serif;
}
#alice:hover{
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}
#ic2:hover{
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

#sabrina:hover{
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
#quack:hover{
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}